* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.joke-box {
  background-color: white;
  margin-bottom: 20px;
  min-height: 60px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 11px 0px rgba(50, 50, 50, 0.32);
}
